header.header(ng-include="'dist/views/partials/top-navbar.html'")

  .content-wrapper(ui-view="", autoscroll="false", ng-class="app.viewAnimation")
  
footer(ng-include="'dist/views/partials/footer.html'")

