header.header(ng-include="'dist/views/partials/header.html'", ng-controller="HeaderController as headerVm")

  .content-wrapper(ui-view="", autoscroll="false", ng-class="app.viewAnimation")
  
footer(ng-include="'dist/views/partials/footer.html'")

