.container.container-flex
    .left-header
        .logo <img src="dist/img/logo.jpg">
        ul.main-menu
            li.main-menu__item
                a(ui-sref="app.monitoring") monitoring
            li.main-menu__item
                a(ui-sref="app.scans") scans
            li.main-menu__item
                a(ui-sref="app.management") user management
    .right-header
        button.btn.btn-default Create scan
        ui-select(ng-model='uisel.address.selected', theme='bootstrap', ng-disabled='uisel.disabled', reset-search-input='false')
            ui-select-match(placeholder='Enter an address...') {{$select.selected.formatted_address}}
            ui-select-choices(repeat='address in uisel.addresses track by $index', refresh='uisel.refreshAddresses($select.search)', refresh-delay='0')
                div(ng-bind-html='address.formatted_address | highlight: $select.search')