header {
  background-color: #1a1d25;
  color: white;
  height: 70px;
  .container-flex {
    align-items:center;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100%;
  }
  .left-header {
    width: 50%;
    .logo {
      float: left;
      line-height: 45px;
    }
  }
  a {
    color: white;
  }
}
.main-menu {
  margin-top: 15px;
  margin-bottom: 0;
  float: right;
  &__item {
    float: left;
    margin: 0 10px;
    font-size: 13px;
    text-transform: uppercase;
  }
}